<.header>
  Edit Receita <%= @receita.id %>
  <:subtitle>Editar a Receita</:subtitle>
</.header>

<.receita_form changeset={@changeset} action={~p"/receitas/#{@receita}"} />

<.back navigate={~p"/receitas"}> Voltar para receitas</.back>
