<.header>
  Editar Despesa <%= @despesa.id %>
  <:subtitle>Edite sua Despesa.</:subtitle>
</.header>

<.despesa_form changeset={@changeset} action={~p"/despesas/#{@despesa}"} />

<.back navigate={~p"/despesas"}>Voltar</.back>
